// Import mixin
@use './../helpers/mixin' as *;
// Import vars
@use './../layout/vars' as *;

//start stats
.stats{
    @include padding();
    text-align: center;
    background-image: url("../img/stats.png");
    background-size: cover;
    position: relative;
    &::before{
        content: "";
        @include overlay();
    }
    .container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .box{
            color: white;
            padding: 50px;
            background-color: $transparent-color;
            @media (max-width: 767px) {
                flex-basis: 100%;
            }
            @media (min-width: 768px) {
                flex-basis: 50%;
            }
            @media (min-width: 992px) {
                flex-basis: 25%;
            }
            i{
                width: 40px;
                height: 40px;
                display: flex;
                background-color: #000;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: 0 auto 30px;
            }
            .number{
                font-size: 50px;
                font-weight: bold;
                margin: 0 0 20px;
            }
            p{
                font-size: 14px;
            }

        }
    }
}
//end stats