/*Start vars*/
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 117 143 / 70%);
    --section-padding: 100px
    
}
$main-color:var(--main-color);
$transparent-color:var(--transparent-color);
$section-padding:var(--section-padding);
/*end vars*/
