doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- *include links
        include pug/include/links.pug
        title Kasber
    body 
        //- *include header
        include pug/include/header.pug
        //- *include landing
        include pug/include/landing.pug
        //- *include services
        include pug/include/services.pug
        //- *include Design
        include pug/include/design.pug
        //- *include Portfolio
        include pug/include/portfolio.pug
        //- *include video
        include pug/include/video.pug
        //- *include About
        include pug/include/about.pug
        //- *include stats
        include pug/include/stats.pug
        //- *include skills
        include pug/include/skills.pug
        //- *Iinclude Quote
        include pug/include/quote.pug
        //- *include pricing
        include pug/include/pricing
        //- *include subs
        include pug/include/subscribe.pug
        //- *include contact
        include pug/include/contact
        //- *include footer
        include pug/include/footer
        script(src="../main.js") 