//Start About
.about
    .container 
        .main-heading 
            h2 About Us 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus accusantium tempore reiciendis repellendus? Quos at assumenda iusto ex minus id aliquid velit modi? Magni nobis magnam ad cupiditate voluptatem esse.
        img(src="../img/about.png", alt="")
//end About 