//Start Design
.design 
    .image 
        img(src="../img/mobile.png", alt="mobile")
    .text 
        h2 Our Design comes with 
        ul
            li Responsive Design 
            li Modern And Clean Design 
            li Clean Code 
            li Browser Friendly
//end design