//start footer
.footer 
    .container 
        img(src="../img/logo.png", alt="logo")
        p we are Social 
        .social-icons 
            i.fab.fa-facebook-f 
            i.fab.fa-twitter 
            i.fas.fa-home 
            i.fab.fa-linkedin
        p.copyrighy &copy; 2021 <span> kasper</span> All right resrved


//end footer