// start header
header 
    .container 
        a(href="#", class="logo")
            img(src="../img/logo.png", alt="logo")
        nav
            i.fas.fa-bars.toggle-menu
            ul 
                li: a(class = "active", href = "#") Home
                li: a(href = "#") Services
                li: a(href = "#") Portfolio
                li: a(href = "#") About
                li: a(href = "#") Pricing
                li: a(href = "#") Contact
            .form 
                i.fas.fa-search 
//end header