//start landing
.landing
    .overlay 
        .text 
            .content 
                h2 Hello world! <br/>we are Kasper we Make Art.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illum sequi vitae? Nemo, provident! Incidunt, minus praesentium ratione aut aspernatur doloremque iste at labore voluptatum sint consequuntur sapiente maxime amet?
    i.fas.fa-angle-left.change-background.fa-2x
    i.fas.fa-angle-right.change-background.fa-2x
    ul.bullets 
        li
        li.active
        li
//end landing