//start Quote
.quote 
    .container 
        q Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vitae beatae temporibus deserunt at magni officiis impedit sunt perferendis consequuntur magnam dolorum fugit, eveniet saepe. Atque dolorum totam veritatis nam?
        span john Don
//end Quote