//start services
.services
    .container
        .main-heading 
            h2 Services
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat velit vero, maxime non at sit. Dolore elige. 
        .services-container 
            .srv-box
                i.fa.fa-desktop.fa-3x
                .text
                    h3 vorem amet intuitive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque odit, facere molestiae eum, minima consequuntur error numquam eaque provident excepturi deleniti corporis reprehenderit eligendi, alias doloremque dicta maiores quibusdam.
            .srv-box
                i.fa.fa-pencil-ruler.fa-3x
                .text
                    h3 vorem amet intuitive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque odit, facere molestiae eum, minima consequuntur error numquam eaque provident excepturi deleniti corporis reprehenderit eligendi, alias doloremque dicta maiores quibusdam.
            .srv-box
                i.fa.fa-camera.fa-3x
                .text
                    h3 vorem amet intuitive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque odit, facere molestiae eum, minima consequuntur error numquam eaque provident excepturi deleniti corporis reprehenderit eligendi, alias doloremque dicta maiores quibusdam.
            .srv-box
                i.fa.fa-desktop.fa-3x
                .text
                    h3 vorem amet intuitive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque odit, facere molestiae eum, minima consequuntur error numquam eaque provident excepturi deleniti corporis reprehenderit eligendi, alias doloremque dicta maiores quibusdam.
//end services