// start subscribe subscribe
.subscribe 
    .container 
        form(action="") 
            i.far.fa-envelope.fa-lg 
            input(type="email", name="mail", placeholder = "your Email")
            input(type="submit" value="subscribe")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur odit assumenda vitae quas ut ullam saepe provident fugit, impedit laudantium modi molestias veritatis quos quis dolor consequuntur atque dignissimos! Molestias.
// end subscribe