//start video
.video 
    video(src="../img/awesome-video.mp4" type = "video/mp4" autoplay muted loop) 
    .text 
        h2 Super Awesome video here 
        p Its all you need 
        button See More
//end video